logs/*
*/logs
venv/**
**/venv/**
venv/*
**/__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
**/ids_message/*.json
.mypy_cache/
.dmypy.json
dmypy.json
*.bak
*.backup
*.old
*.tmp
*.temp
*.md
*.log
logs/
log/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*_handlers.py.bak
*_manager.py.bak
*.bak.старый
*.bak.не.изменено
ids_message/stats_message_id.json
ids_message/status_message_ids.json
ip.json.bak
   ip.json
keys/sharkhost
stats_message_id.json
ids_message
status_message_ids.json